{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Index - PiLock Admin{% endblock %}

{% block current_page_title %}PiLock Admin{% endblock %}

{% block main_page %}
<div class="row row-ind">
    <div class="col-sm-8">
        <h2>Notifications:</h2>
        {% for note in notifications %}
            {% if note.type == "DEBUG" %}
                <div class="alert alert-warning" role="alert">
                    <strong>Debug Mode Enabled!</strong> The unlock functionality has been disabled. Please turn off Debug mode in production.
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-sm-4">
        <h1>
            News from the developer:
        </h1>
        <a class="twitter-timeline" href="https://twitter.com/KGiannakisDev">Tweets by KGiannakisDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
{% endblock %}