{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Index - PiLock Admin{% endblock %}

{% block current_page_title %}PiLock Admin{% endblock %}

{% block main_page %}
<div class="row row-ind">
    <div class="col-sm-8">
        <h2>Notifications:</h2>
        {% if notifications.count == 0 %}
            This is where notifications related to various issues with your PiLock installation (for example, updates, security issues, ...) will be shown. <br>
            There are currently no notifications to be shown.
        {% endif %}
        {% for note in notifications %}
            {{ note.html|safe }}
        {% endfor %}
    </div>
    <div class="col-sm-4">
        <h1>
            News from the developer:
        </h1>
        <a class="twitter-timeline" href="https://twitter.com/KGiannakisDev">Tweets by KGiannakisDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
{% endblock %}