{% extends "base.html" %}
{% load staticfiles %}
{% load admincp %}
{% block title %}Access Log - PiLock Admin{% endblock %}

{% block current_page_title %}Access Log{% endblock %}

{% block main_page %}
<table class="table table-striped">
    <caption>
        All the registered Users:<br>
    </caption>
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Is Staff?</th>
            <th>Has associated app?</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for us in users %}
            <tr>
                <td>
                    {{ us.username }}
                </td>
                <td>
                    {{ us.first_name }}
                </td>
                <td>
                    {{ us.last_name }}
                </td>
                <td>
                    {% if us.is_staff %}
                        <span style="color: green;">YES</span>
                    {% else %}
                        <span style="color: red;">NO</span>
                    {% endif %}
                </td>
                <td>
                    {% if us.profile %}
                        <span style="color: green;">YES</span>
                    {% else %}
                        <span style="color: red;">NO</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'ACP-Users-Delete' %}/{{ us.id }}"><img src="{% static 'material_icons/delete.png' %}"></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
