{% load staticfiles %}
<ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <div class="logo">
                        <a href="{% url 'ACP-index' %}"><img src="{% static 'img/logo-white.png'%}" alt="PiLock"></a>
                    </div>
                </li>
                <li>
                    <a href="{% url 'ACP-index' %}">Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'ACP-AccessLog' %}">Access Log</a>
                </li>
                <li>
                    <a href="{% url 'ACP-Users-index' %}">Users</a>
                </li>
                <li class="logout">
                    <a href="{% url 'ACP-Login' %}?logout=1">Logout</a>
                </li>
</ul>